<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find amr_8)/urdf/amr_8.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- RVIZ  - Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_8)/rviz/amr_visualization.rviz"/>
</launch>
