<?xml version="1.0"?>
<launch>

  <arg name="model" />
  <param name="robot_description" textfile="$(find amr_8)/urdf/amr_8_without_odometry.urdf" />
  
  <!-- Static Transform Publisher-->
  <!--node pkg="tf" type="static_transform_publisher" name="odom_base_footprint_tf" args="0 0 0 0 0 0 /odom /base_footprint 100"/--> 

  <!-- Launch the gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find amr_8)/gazebo_worlds/maze.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- Load the robot model in the parameter server into the gazebo world -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model amr_8.urdf -param robot_description">
  </node>

  <!-- Joint State Publisher - Publishes Joint Positions -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Robot State Publisher  - Uses URDF and Joint States to compute Transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Keyboard Teleop -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>

  <!-- RVIZ  - Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_8)/rviz/amr_localisation.rviz"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="'$(find amr_8)/maps/demo_world.yaml'"/>

  <!-- Odom Node -->
  <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch"/>
  
  
  <!-- AMCL - Localization -->
  <!--rosparam file="$(find amr_8)/config/amcl.yaml" command="load"/-->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="min_particles"             value="500"/>
    <param name="max_particles"             value="3000"/>
    <param name="kld_err"                   value="0.02"/>
    <param name="update_min_d"              value="0.20"/>
    <param name="update_min_a"              value="0.20"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.5"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="initial_pose_x"            value="0"/>
    <param name="initial_pose_y"            value="0"/>
    <param name="initial_pose_a"            value="0"/>
    <param name="gui_publish_rate"          value="50.0"/>

    <remap from="scan"                      to="/scan"/>
    <param name="laser_max_range"           value="3.5"/>
    <param name="laser_max_beams"           value="180"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="laser_model_type"          value="likelihood_field"/>

    <param name="odom_model_type"           value="diff"/>
    <param name="odom_alpha1"               value="0.1"/>
    <param name="odom_alpha2"               value="0.1"/>
    <param name="odom_alpha3"               value="0.1"/>
    <param name="odom_alpha4"               value="0.1"/>
    <param name="odom_frame_id"             value="odom"/>
    <param name="base_frame_id"             value="base_footprint"/>
  </node>

</launch>
