<?xml version="1.0"?>
<launch>

  <arg name="model" />
  <param name="robot_description" textfile="$(find amr_8)/urdf/amr_8.urdf" />

  <!-- Launch the gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find amr_8)/gazebo_worlds/maze.world"/>
    <!--arg name="world_name" value="$(find amr_8)/worlds/turtlebot3_world.world"/-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- Load the robot model in the parameter server into the gazebo world -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model amr_8.urdf -param robot_description">
  </node>

  <!-- Joint State Publisher - Publishes Joint Positions -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Robot State Publisher  - Uses URDF and Joint States to compute Transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Keyboard Teleop -->
  <!--node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/-->

  <!-- RVIZ  - Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amr_8)/rviz/amr.rviz"/>


  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="'$(find amr_8)/maps/demo_world.yaml'"/>

  <!-- AMCL - Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam file="$(find amr_8)/config/amcl.yaml" command="load"/>
  </node>

  <!-- Move Base - Navigation -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find amr_8)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find amr_8)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find amr_8)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find amr_8)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find amr_8)/config/global_planner_params.yaml" command="load" />
    <rosparam file="$(find amr_8)/config/move_base_params.yaml" command="load" />

    <!-- GLOBAL PLANNERS -->
    <!--param name="base_global_planner" value="navfn/NavfnROS" /-->
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    
    <!-- LOCAL PLANNERS -->
    <rosparam file="$(find amr_8)/config/dwa_local_planner.yaml" command="load" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

    <!--rosparam file="$(find amr_8)/config/trajectory_planner.yaml" command="load" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/-->

    <!--rosparam file="$(find amr_8)/config/teb_local_planner.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /-->
  </node>

</launch>
